/*!
 * Typography CSS Styles
 * URL: *
 */
html{font-size:100.01%;}
body{background:#fff;color:#3a3a3a;font-family:Arial, sans-serif;font-size:81.25%;font-stretch:normal;font-weight:400;line-height:1.5;}
h1,h2,h3,h4,h5,h6{font-weight:bold;color:#9d1a36;}
h1{font-size:3.0em;line-height:1;margin-bottom:0.25em;}
h2{font-size:1.70em;line-height:1.20;margin-bottom:0.75em;}
h3{font-size:1.5em;line-height:1;margin-bottom:1.5em;}
h4{font-size:1.0em;line-height:1.25;margin-bottom:0.5em;}
h5{font-size:1.0em;font-weight:normal;margin-bottom:0.25em;}
h6{font-size:0.9em;font-weight:normal;}
h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img{margin:0;}
p{margin:0 0 1.25em;}
a:focus,
a:hover{color:#a4151f;text-decoration:underline;}
a{color:#a4151f;text-decoration:none;}
blockquote{margin:1.25em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup, sub{line-height:0;}
sup{bottom:0.6em;font-size:0.6em;position:relative;vertical-align:baseline;}
abbr,
acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.25em;font-style:italic;}
pre{margin:1.25em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul,
li ol{margin:0;}
ul, ol{margin:0 1.25em 1.25em 0;padding-left:15px;}
nav ul{margin:0;padding-left:0;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
dl{margin:0 0 1.25em 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.15em;}
html{}
html{overflow-y:scroll;}
::-moz-selection{background:#ce8c9a;}
::selection{background:#ce8c9a;}
/*@ webfonts */
@font-face {font-family: UnitWeb-Light;src: url('../fonts/unit/UnitWeb-Light.eot?');
	src: url('../fonts/unit/UnitWeb-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/unit/UnitWeb-Light.woff') format('woff');}
@font-face {font-family: UnitWeb-Medium;src: url("../fonts/unit/UnitWeb-Medium.eot?");
	src: url('../fonts/unit/UnitWeb-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/unit/UnitWeb-Medium.woff') format('woff');}
@font-face {font-family: UnitWeb-Bold;src: url("../fonts/unit/UnitWeb-Bold.eot?");
	src: url('../fonts/unit/UnitWeb-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/unit/UnitWeb-Bold.woff') format('woff');font-weight: bold;}
